@using Inventiny.WebApp.Controls

@page "/inventories"

@inject NavigationManager NavigationManager

<h3>Inventory List</h3>

<br />

<SearchInventoryComponent
    OnSearchInventory="OnInventorySearch">
</SearchInventoryComponent>

<br/>

<InventoryListComponent
    SearchTerm="@searchTerm">
</InventoryListComponent>

<br/>

<button 
    type="button" 
    class="btn btn-success"
    @onclick="AddInventory"
>
    Add Inventory
</button>

@code {
    private string searchTerm = String.Empty;

    private void OnInventorySearch(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/add-inventory");
    }
}
